aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
dnspython
emojis
Faker
ffmpeg-python
gitpython
gtts
hachoir
heroku3
lyricsgenius
motor
numpy
pillow
psutil
pycountry
pydub
pyfiglet
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
pytz
qrcode
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp==2023.12.30
youtube-search
youtube-search-python
wget
